@import '../variables.scss';

.NotificationIcon {
	color: #fff;
	border-radius: 50%;
	font-size: 0.7rem;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Blue {
	background-color: $color-primary;
}

.Red {
	background-color: $color-red;
}
