//COLOR VARIABLES
$color-primary: #007bff;
$color-primary-light: #d7e9fc;
$color-primary-dark: #1a3a54;

$color-secondary-light: #868686;
$color-secondary-dark: #5d5d5d;
$color-black: #000000;

//FONT VARIABLES
$primary-heading: 4rem;
$secondary-heading: 3rem;
$tertiary-heading: 2.5rem;

$secondary-font: 'Nunito', sans-serif;
