@import '../variables.scss';

.product__info {
	display: flex;
	align-items: center;
	grid-column: center-start/ full-end;
	grid-row: 2 / 3;
	padding: 3rem;
}

.product__heading {
	margin-right: auto;
	&-text {
		font-size: $tertiary-heading;
		margin-left: 1rem;
	}
	// display: flex;

	&-icon {
		height: 2.5rem;
		width: 2.5rem;
		fill: $color-primary;
	}
}

.product__search {
	position: relative;
	margin-right: 3rem;
	&-input {
		background-color: #eee;
		border: none;
		border-radius: 4px;
		padding: 1.2rem 2.4rem;
		margin-left: 2rem;
	}

	&__label {
		display: flex;
		align-items: center;

		&-icon {
			height: 1rem;
			width: 1rem;
			transform: translateY(-50%);
		}

		span {
			position: absolute;
			top: 35%;
		}

		span:first-child {
			left: 3rem;
		}

		span:last-child {
			font-size: 1rem;
			right: 1rem;
		}
	}
}
